# Becoming a Hacker Foundations - Lab Guide
<div class="foo">
<br>
<img src="../training/os_files/hacker_2.png" width="15%" height="15%">
<br>
<hr>
<br>
<ul>
<h2><li><a href="../training/" target="_blank">Lab Modules</a></h2>
Hold down Command or Control and click to open in a new tab
</ul>
</div>