no service config
hostname iosv-r1
ip domain name ${domain_name}
ip name-server ${v4_name_server}
ip name-server ${v6_name_server}
no ip domain lookup
!
username admin privilege 15 password 7 0955411C54174711004D
!
ip cef
ipv6 unicast-routing
ipv6 cef
ip dhcp pool KALI
  ! dns-server ${v4_name_server}
  ! HACK cmm - fixed for now
  ! dns-server 10.1.1.5
  dns-server 169.254.169.254
  domain-name ${domain_name}
  network 10.1.1.0 255.255.255.0
  default-router 10.1.1.1
  !network ${format("%s %s", cidrhost(l0_prefix, 1), cidrnetmask(l0_prefix))}
  !default-router ${format("%s", cidrhost(l0_prefix, 1))}
!
ipv6 dhcp pool KALI
  dns-server ${v6_name_server}
  address prefix ${format("%s/112", cidrhost(cidrsubnet(format("%s/%s", global_ipv6_prefix, global_ipv6_prefix_length),16,1),0))}
!
key chain RIP
 key 1
  key-string 7 0818696F213B24352B
!
ip dhcp excluded-address 10.1.1.1
ip dhcp excluded-address 10.1.1.3 10.1.1.10
!
interface Loopback0
  ip address 10.64.0.${pod_number} 255.255.255.255
  ip nat inside
interface Loopback1
  ip address ${global_ipv4_address} 255.255.255.255
  ! first host in prefix
  ipv6 address ${format("%s", cidrhost(format("%s/%s", global_ipv6_prefix, global_ipv6_prefix_length), 0)) }/128
  ipv6 enable
  ip nat outside
interface GigabitEthernet0/0
  description ioll2-xe-sw1 E0/0
  ip address 10.1.1.1 255.255.255.0
  ip nat inside
  duplex auto
  speed auto
  media-type rj45
  ip rip authentication key-chain RIP
  ipv6 address ${format("%s/112", cidrhost(cidrsubnet(format("%s/%s", global_ipv6_prefix, global_ipv6_prefix_length),16,1),1)) }
  ipv6 nd managed-config-flag
  ipv6 enable
  ipv6 dhcp server KALI
  ipv6 rip DEFAULT enable
  ipv6 rip DEFAULT default-information originate
interface GigabitEthernet0/1
  description Internet
  mtu ${internet_mtu}
  ip address 100.64.5.${pod_number} 255.255.255.0
  ip nat outside
  ip virtual-reassembly in
  ipv6 enable
  ipv6 address dhcp
  ipv6 nd autoconfig prefix
  ipv6 nd ra suppress all
  duplex auto
  speed auto
  media-type rj45
interface GigabitEthernet0/2
  no ip address
  shutdown
  duplex auto
  speed auto
  media-type rj45
interface GigabitEthernet0/3
  no ip address
  shutdown
  duplex auto
  speed auto
  media-type rj45
ip access-list extended NAT
   ! permit ip ${cidrhost(ip_prefix, 0)} ${wildcard_mask[16]} any
   permit ip 10.1.1.0 0.0.0.255 any
ip nat inside source list NAT interface Loopback1 overload
router rip
 version 2
 network 10.0.0.0
 network 100.64.0.0
 passive-interface GigabitEthernet0/1
 no auto-summary
ipv6 router rip DEFAULT
router bgp 65001
 bgp router-id 10.64.0.${pod_number}
 bgp log-neighbor-changes
 neighbor 100.64.5.254 remote-as 65000
 ! FIXME cmm - templatize me
 neighbor 2600:1900:4020:745::1:ffff remote-as 65000
 neighbor 2600:1900:4020:745::1:ffff disable-connected-check
 neighbor 2600:1900:4020:745::1:ffff ttl-security hops 2
 address-family ipv4 unicast
  network ${global_ipv4_address} mask 255.255.255.255
  neighbor 100.64.5.254 activate
  neighbor 100.64.5.254 allowas-in 1
  neighbor 2600:1900:4020:745::1:ffff activate
  neighbor 2600:1900:4020:745::1:ffff allowas-in 1
 address-family ipv6 unicast
  network ${format("%s", cidrhost(format("%s/%s", global_ipv6_prefix, global_ipv6_prefix_length), 0)) }/128
  aggregate-address ${format("%s/%s", global_ipv6_prefix, global_ipv6_prefix_length)} as-set summary-only
  neighbor 2600:1900:4020:745::1:ffff activate
  neighbor 2600:1900:4020:745::1:ffff allowas-in 1
ip http server
no banner exec
no banner login
no banner motd
crypto key generate rsa modulus 2048
ip ssh version 2
logging trap debugging
logging source-interface Loopback0
logging snmp-trap emergencies
logging snmp-trap alerts
logging snmp-trap critical
logging snmp-trap errors
logging snmp-trap warnings
logging snmp-trap debugging
logging host 10.1.1.4
!
snmp-server community ULTRAS3CR3T RW 1
snmp-server trap-source Loopback0
snmp-server enable traps event-manager
snmp-server host 10.1.1.4 version 2c ULTRAS3CR3T
!
access-list 1 permit 10.1.1.4 log
access-list 2 permit 10.1.1.4 log
!
banner exec @
--------------------------------------------
| Forms FORM-29827281-12:                  |
| Test Assessment Report                   |
|                                          |
|                                          |
| This was a triumph.                      |
| I'm making a note here:                  |
| HUGE SUCCESS.                            |
| It's hard to overstate my satisfaction.  |
|                                          |
--------------------------------------------
@
banner login @

                                 NOTICE

  Use of this system is RESTRICTED. Access is limited to individuals
  authorized by Cisco ASIG and who have have sufficient chops to kick its
  ass.  Unauthorized users are prohibited...but whatever man...

  Users (authorized or unauthorized) have no explicit or implicit expectation
  of privacy.  Any or all uses of this system may be subject to one or more
  of the following actions: interception, monitoring, recording, auditing,
  inspection and disclosing to security personnel and law enforcement
  personnel.  By using this system, the user consents to these actions.
  Unauthorized or improper use of this system may result in administrative
  disciplinary action and civil and criminal penalties.  By accessing this
  system you indicate your awareness of and consent to these terms and
  conditions of use.

  So there.
@
!
!
line vty 0 4
 login local
 access-class 2 in
 exec-timeout 1440 0
 transport preferred none
 transport input ssh telnet
!
event manager applet ROUTER-BABBLE
 event timer watchdog name EVERY-10-SECONDS time 60
 action ACTION-1 snmp-trap strdata "Still alive..."
end
