no service config
hostname iosv-r1
ip domain name ${domain_name}
ip name-server ${v4_name_server}
%{ if v6_name_server != "" }
ip name-server ${v6_name_server}
%{ endif }
no ip domain lookup
!
username admin privilege 15 password 7 0955411C54174711004D
!
ip cef
ipv6 unicast-routing
ipv6 cef
ip dhcp pool KALI
  dns-server ${v4_name_server}
  domain-name ${domain_name}
  network 10.1.1.0 255.255.255.0
  default-router 10.1.1.1
!
!ipv6 dhcp pool KALI
!  ! dns-server ${v6_name_server}
!  address prefix ${global_ipv6_prefix}
!
key chain RIP
 key 1
  key-string 7 0818696F213B24352B
!
ip dhcp excluded-address 10.1.1.1 10.1.1.10
!
interface Loopback0
  ip address 10.0.0.${pod_number} 255.255.255.255
  ip nat inside
interface GigabitEthernet0/0
  description ioll2-xe-sw1 E0/0
  ip address 10.1.1.1 255.255.255.0
  ip nat inside
  duplex auto
  speed auto
  media-type rj45
  ip rip authentication key-chain RIP
  ipv6 address ${cidrhost(global_ipv6_prefix, 1)}/64
  ! ipv6 nd managed-config-flag
  ipv6 enable
  ! ipv6 dhcp server KALI
  ipv6 rip DEFAULT enable
  ipv6 rip DEFAULT default-information originate
interface GigabitEthernet0/1
  description Internet
  mtu ${internet_mtu}
  ip address ${global_ipv4_address} ${global_ipv4_netmask}
  ip nat outside
  ip virtual-reassembly in
  ipv6 enable
  ipv6 address ${global_ipv6_address}/${global_ipv6_prefix_len}
  ipv6 nd ra suppress all
  duplex auto
  speed auto
  media-type rj45
interface GigabitEthernet0/2
  no ip address
  shutdown
  duplex auto
  speed auto
  media-type rj45
interface GigabitEthernet0/3
  no ip address
  shutdown
  duplex auto
  speed auto
  media-type rj45
ip access-list extended NAT
   permit ip 10.1.1.0 0.0.0.255 any
ip nat inside source list NAT interface GigabitEthernet0/1 overload
router rip
 version 2
 network 10.0.0.0
 passive-interface GigabitEthernet0/1
 no auto-summary
ipv6 router rip DEFAULT
router bgp 65001
 bgp router-id 10.0.0.${pod_number}
 bgp log-neighbor-changes
 neighbor ${bgp_ipv4_peer} remote-as 65000
 neighbor ${bgp_ipv6_peer} remote-as 65000
 neighbor ${bgp_ipv6_peer} disable-connected-check
 neighbor ${bgp_ipv6_peer} ttl-security hops 2
 address-family ipv4 unicast
  network 10.0.0.${pod_number} mask 255.255.255.255
  network ${global_ipv4_address} mask ${global_ipv4_netmask}
  neighbor ${bgp_ipv4_peer} activate
  neighbor ${bgp_ipv4_peer} allowas-in 1
  neighbor ${bgp_ipv6_peer} activate
  neighbor ${bgp_ipv6_peer} allowas-in 1
 address-family ipv6 unicast
  network ${global_ipv6_prefix}
  neighbor ${bgp_ipv6_peer} activate
  neighbor ${bgp_ipv6_peer} allowas-in 1
ip http server
no banner exec
no banner login
no banner motd
crypto key generate rsa modulus 2048
ip ssh version 2
logging trap debugging
logging source-interface Loopback0
logging snmp-trap emergencies
logging snmp-trap alerts
logging snmp-trap critical
logging snmp-trap errors
logging snmp-trap warnings
logging snmp-trap debugging
logging host 10.1.1.4
!
snmp-server chassis-id 31337
snmp-server community ULTRAS3CR3T RW 1
snmp-server trap-source Loopback0
snmp-server enable traps event-manager
snmp-server host 10.1.1.4 version 2c ULTRAS3CR3T
!
access-list 1 permit 10.1.1.4 log
access-list 2 permit 10.1.1.4 log
!
!
!
line vty 0 4
 login local
 access-class 2 in
 exec-timeout 1440 0
 transport preferred none
 transport input ssh telnet
!
event manager applet ROUTER-BABBLE
 event timer watchdog name EVERY-10-SECONDS time 60
 action ACTION-1 snmp-trap strdata "Still alive..."
end
